# =====================
# Python
# =====================
venv/
__pycache__/
*.pyc

# =====================
# C++ / Компиляция
# =====================
*.exe
*.dll
*.o
*.obj
*.lib
*.pdb
*.ilk

# =====================
# Visual Studio
# =====================
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.ipch
*.tlog
*.recipe
*.db
x64/
Debug/
Release/

# =====================
# Данные
# =====================
data/*.txt
!data/.gitkeep

# =====================
# Системные
# =====================
.DS_Store
Thumbs.db
*.log
*.tmp